.welcome {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


.welcome-image {
    flex: 1 1 50%;
    width: 300px;
}

.login-form-holder {
    flex: 0 0 25%;
}

.welcome-buttons {
    display: flex;
    flex: 0 0 10%;
    justify-items: center;
    align-items: center;
}