.welcome {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


.welcome-image {
    flex: 1 1 75%;
    width: 300px;
}

.welcome-buttons {
    display: flex;
    flex: auto;
    justify-items: center;
    align-items: center;
}