.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
}

.login-image {
    width: 200px;
    flex: 1 0 50%;
}

.login-form {
    flex: 1 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs {
    flex: 1 0 60%;
    justify-items: center;
    align-items: center;
}

.buttons {
    flex: 1 0 40%;
}