.bottle-detail {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-items: center;
}

.bottle-details-info {
    flex: 1 0 90%;
}

.bottle-details-info > * {
    height: 100%;
}

.detail-buttons {
    flex: 1 0 10%;
}